# =.NET =
**/bin/
**/obj/
**/publish/
*.dll
*.pdb
*.cache
*.user
*.suo

# =Node =
**/node_modules/
**/package-lock.json
**/dist/
**/build/

# =IDE =
.idea/
.vs/
*.docstates
*.DotSettings.user
*.lscache
*.csproj.lscache

# =日志 =
**/*.log
**/logs/

# =数据库 =
**/*.mdf
**/*.ldf
**/*.sqlite

# =敏感配置 =
appsettings.Development.json
appsettings.Staging.json
appsettings.Production.json
**/appsettings.Secrets.json
**/appsettings.Local.json
.env
.env.*
!.env.example

# =OS =
.DS_Store
Thumbs.db

# =WorkBuddy =
.workbuddy/
